player {
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px solid;

}
.player_icon{
    transition: transform 0.5s ease 0s;
}
