player {
    width: 70px;
    height: 70px;
    display: flex !important;
    border-radius: 50%;
    align-items: center !important;
    justify-content: center;
    overflow: hidden;
    border: 5px solid;
    box-sizing: unset !important;
}
.player_icon{
    transition: transform 0.5s ease 0s;
}
.player_dark{
    border-color:white;
    color:black;

}
.player_light{
    border-color:black
    color:white;
}
